html{
height:100%;
}

body{
background:#e2e2e2;
height:100%;
}

.myheader{
color:#ffffff;
paddings:100px;
text-align:center;
}

.myfooter{
background:blue;
color:#ffffff;
paddings:100px;
text-align:center;
}

.alert-success{
color:green;
}

.alert-danger{
color:red;
}