<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{/layout/head}::myhead">
    <meta charset="UTF-8">
    <title>School Management</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous"/>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="mynavbar2" th:fragment="mynavbar2">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="navbar-brand ps-3">School Management</div>
        <div class="container-fluid">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" th:href="@{/user/login}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutUs" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/contactUs" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="mynavbar" th:fragment="mynavbar">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="navbar-brand ps-3">School Management</div>
        <div class="container-fluid">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a th:href="@{/dashboard/}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><a href="#" th:href="@{/user/logout}" class="nav-link btn btn-dark btn-lg">
                    <span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<style th:src="@{/jquery/jquery.min.js}"></style>
<style th:src="@{/popper/popper.min.js}"></style>
<style th:src="@{/bootstrap/js/bootstrap.min.js}"></style>
</body>
</html>