<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>School Management</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous" />
    <link rel="stylesheet" href="" th:href="@{/css/style.css}"/>
</head>
<body>
<section>
<div class="container mt-3">
    <form action="#" method="post">
        <div class="row mb-2">
            <div class="col-md-6">
                <p class="text-center fs-5 fw-bold">Add Principal's Message</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="message" class="form-label">Message</label>
                <input id="message" type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <label for="msgDesc" class="form-label">Message Description</label>
                <input id="msgDesc" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</section>
<style th:src="@{/jquery/jquery.min.js}"></style>
<style th:src="@{/popper/popper.min.js}"></style>
<style th:src="@{/bootstrap/js/bootstrap.min.js}"></style>
</body>
</html>